@media (max-width: 2560px) and (min-width: 1920px) {}
    
@media (max-width: 1920px) and (min-width: 1440px) {}

@media (max-width: 1440px) and (min-width: 1366px) {}

@media (max-width: 1366px) and (min-width: 1280px) {}

@media only screen and (max-width: 1199px) {}
    
@media only screen and (max-width: 991px)  {
  .ht{display: inline-flex;} 
}
    
@media only screen and (max-width: 767px)  {
  table{border: 0;}
  .tr {display: block; border: 2px solid #000;margin-bottom: 10px;}
  .tr td{display: flex;align-items: center;justify-content: space-between;width: 100%;margin-bottom: 0px;border: 0;}
  .tr td:not(:last-child){border-bottom: 1px solid #000;} 
}
    
@media only screen and (max-width: 479px)  {
 
}